@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.2em;
  color: #16425b;
}

.avatar {
  min-width: 112px;
  min-height: 112px;
  display: inline-block;
  background-image: url('/assets/bearalegal_face.png');
  background-size: cover;
  margin-right: 20px;
  border: 3px solid #81c3d7;
  border-radius: 3px;
}

.BearMessage {
  display: flex;
  align-items: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
}